<!DOCTYPE html>
<html>
  <head>
    <title>MyBucketList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Style Guide | My Bucket List</title>
      <meta name="description" content="Style Guide for the EPFL Extension School's Full Stack Developer course">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/styleguide.css">
    </head>
  <body>
    <header class="sg-header">
      <div class="site-header">
        <div class="content-wrapper">
          <div class="logo">
            <a href="/"><span><i>My</i> Bucket List</span></a>
          </div>
          <%= render(partial:'layouts/search_form') %>
          <nav class="site-header__nav">
            <ul class="main-navigation">
              <li><a href="#nolink">Inspiration</a></li>
              <li><%= link_to('My Idea', account_ideas_path ) %></li>
              <li><a href="#nolink">Log In</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted footer__logo">
          <a href="/"><span><i>My</i> Bucket List</span></a>
        </div>
        <nav class="footer__navigation">
          <ul>
            <li><a href="#nolink">About</a></li>
            <li><a href="style/atoms.html">Style Guide</a></li>
            <li><a href="#nolink">Terms of Use</a></li>
          </ul>
        </nav>
        <p class="copyright">&copy; EPFL 2017</p>
      </div>
    </footer>
  </body>

</html>
